@charset "UTF-8";

.board {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.board_write {
	border-top: 3px solid #168;
}

.board_write .title,
.board_write .name {
	padding: 15px;
}

.board_write .name {
	border-top: 1px dashed #ddd;
	border-bottom: 1px solid #ddd;
}

.board_write .title dt,
.board_write .title dd,
.board_write .name dt,
.board_write .name dd {
    display: inline-block;
    font-size: 1.4rem;
}

input[type=text] {
	width: 500px;
  	height: 32px;
  	font-size: 15px;
  	border: 0;
  	border-radius: 15px;
  	outline: none;
  	padding-left: 10px;
  	background-color: rgb(233, 233, 233);
}

.board_write .area {
	border-bottom: 1px solid #ddd
}

.board_write .area textarea {
	display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    font-size: 15px;
    resize: none;
}
.bottom {
	margin-top: 10px;
}
.button {
	width: 100px;
	height: 55px;
	border: none;
	padding: 15px;
	float: right;
}